/* Sticky footer styles
-------------------------------------------------- */
:root {
  --headers: #127475;
  --subHeaders: #8fb996;
  --text: #1d2d44;
  --month1: rgba(233, 196, 106, .65);
  --month2: rgba(231,111,81, .7);
  --month3: rgba(163,177,138, .75);
  --month4: rgba(114,9,183, .4);
}

#navbar, nav.navbar.navbar-inverse.navbar-fixed-top{
  background-color: var(--headers);
  color: white;
  font-size: 1em;
}

.navbar-brand {
  font-weight: 600;
}

.panel-info>.panel-heading, .panel-primary.projects>.panel-heading, #accordion.panel.panel-heading {
  background-color: var(--headers);
  color: white;

}

h3 {
  font-weight: 400;
  font-size:1.5em;

}

.panel-title  {
  font-weight:400;
}

.btn-warning {
  background-color: #f9c74f;
  border-color: #f9c74f;
  color: var(--text);
}
html {
  height: 100%;
}
body {
  height:100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--text);
}
.content {
  flex: 1 0 auto;
  padding: 20px;
}

.contact img {
  width: 200px;
  height:200px;
  display:block;
  margin:0 auto;
}
.panel-title {
  line-height: normal;
}

.homework a.btn-danger {
  margin-top:10px;
}

.jumbotron {
  background-image: url("../imgs/sorrento.jpg");
	border-radius: 0;
  color: #f28482;

}

.footer {
  flex-shrink: 0;
  padding: 15px 20px 5px;
  background-color: #e0e0e0;
  text-align: center;
}

/* added from footer-with-social-icons template */
.footer a{
  text-decoration: none;
}

.footer a:hover, .footer a:focus{
  text-decoration: none;
  color:black;
}

.footer #copy {
  text-align: center;
  font-size:10px;
  margin-top: 10px;
}

.footer .myCols{
	text-align: center;
}

.footer .row {
  padding-left: 10%;
  padding-right:10%;
}
.social-networks .col-sm-3{
  text-align: left;
  margin-top:5px;
  padding-left: 0;
}

.panel-body.contact-info {
  padding-bottom:0;
}

.social-networks a{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 0px;
    padding: 0px;
    transition: 0.2s;
}

.social-networks a:hover{
  text-decoration: none;
}

.social-networks .linkedin{
  color:  #0077B4;
}

.social-networks .github{
  color:#7F1C79;
}

.social-networks .twitter{
  color: #059EF4;
}

.social-networks .wordpress{
  color: #0087BE;
}

.section-header {
  padding: 0;
  font-weight: 600;
  background-color: #fcfcfc;
}

.section-header p {
  font-weight: 400;
}

.indent {
  margin-left:10px;
}

.navbar-inverse .navbar-nav li a.active {
  font-weight: 600;
  color: white;
}

.navbar-inverse  a.active {
  font-weight: 600;
  color: white;
}

/*!
 * Custom styles for course websites
 */

.thumbnail {
  display: block;
  padding: 12px;
  line-height: 20px;
  border: 1px solid #aaa;

}

.thumbnail.warning {
  background-color: #D7F1FA;
}
.schedule .due {
	color: #822;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}




.projects img {
  margin-top: 10px;
  margin-bottom:10px;
}

.sch-header {
	background-color: var(--headers);
  color: white;
}


.month1 {
	background-color: var(--month1);
	color: #000;
}

.month2{
	background-color:var(--month2);
	color: #000;
}

.month3 {
	background-color: var(--month3);
	color: #000;
}

.month4 {
	background-color: var(--month4);
	color: #000;
}



.sch-no {
	  background-color: #EDEAED;
    color: #333;
}

.schedule h3, .schedule h4, .schedule h5 {
	padding: 0;
	margin: 0;
  font-weight: 600;
}

.schedule .sch-header h3 {
	font-size: 18px;
	text-align: center;
	line-height: 20px;
  color:var (--text); 
}

.schedule h4 {
	font-size: 12px;
	text-align: right;
}

.schedule h5 {
	font-size: 14px;
	margin-top: -12px;
	padding-right: 50px;
}

.schedule h6 {
  font-size:13px;
  margin-top: 4px;
  padding-left: 2px;
  font-weight:400;
}

.schedule p {
	font-size: 13px;
	margin: 13px 0 0 13px;
}

.highlight {
  padding: 2px 7px;
  line-height: 20px;
   font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
            font-style: normal;
  color: #9b479f;
  background-color: #ffd;
  border: 1px solid #e1e1e8;
}

code,
pre,
var {
  padding: 0 3px 2px;
  line-height: 15px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code, var {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;

}

code {
  color: #44f;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

var {
  font-style: normal;
  color: #d1d;
  background-color: #ffd;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 15px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code, pre var {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

/* found online for modifying simplex accordion style */
#accordion {
    padding:0px;
   /* border: 1px solid #C73724;  */
    border-radius:8px;
    margin-bottom:0px;
}  
#accordion .panel-heading {
  border-radius:4px;

}
#accordion .panel.panel-default {
  border-radius:4px;

}
#accordion h4.panel-title {
  text-align:left;
  font-size:15px;
}
#accordion a {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #029acf;
  text-decoration: none;
}
#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: #029acf;
  color: white;
  transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
  color: white;
}
#accordion .panel-heading {
  padding: 0;
  font-weight:300;
  border-top-left-radius: 4px;
    border-top-right-radius: 4px;

 
/*  text-align: center; */
}
#accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #029acf;
  transition: all 0.2s ease-in;
  border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  font-family: 'FontAwesome';
  content: '\f00d';
  padding-right:10px;
  float: left;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
  border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  margin-left:-10px;
  margin-right:10px;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
  border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#head-msg {
  margin-bottom:20px;
}

.alert h4{
  text-align: center;
  line-height: 120%;
}

.participation th, td {
  text-align: center;
}

p.emphasis {
  border: 2px solid #C73724;
  padding: 4px;
}

ol li {
  margin: 8px 0;
}

.activity h4 {
  margin-top:35px;
  color: #7FB069;
}

ul.noBullet {
  list-style-type: none;
}
